extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1= title
            nav
                ul(id="navi")
                    a
                        li Dane podstawowe
                    a
                        li Panel moderatora
            article
                h2 Dodaj nowy seans
                p Uwaga! Dodawany seans dotyczy istniejącego filmu
                form(method="POST", class="insert", action="/admin/insert_seance/execute")
                    div(class="category")
                        div(class="description") Wybierz film:
                        table
                            thead
                                tr
                                    th Wybierz
                                    th Tytuł
                                    th Gatunek
                                    th Studio
                                    th Reżyser
                                    th Obsada
                                    th Opis
                                    th Rok produkcji
                                    th Kategoria wiekowa
                            tbody
                                each movie in data
                                    tr
                                        td
                                            input(type="radio", name="ID", value=movie.MovieID)
                                        td= movie.Title
                                        td= movie.Type
                                        td= movie.Studio
                                        td= movie.Director
                                        td= movie.Cast
                                        td= movie.Description
                                        td= movie.Year
                                        td= movie.Age
                    div(class="category")
                        div(class="description") Podaj datę seansu:
                        div(class="field")
                            input(type="date", name="seance_date")
                    div(class="category")
                        div(class="description") Podaj godzinę seansu:
                        div(class="field")
                            input(type="time", name="seance_time")
                    input(type="submit")
            footer #{title} 2024
