extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1= title
            nav
                ul(id="navi")
                    a
                        li Dane podstawowe
                    a
                        li Panel moderatora
            article
                h2 Modyfikuj seans
                p Uwaga! Można zmodyfikować naraz maksymalnie jeden seans.
                    form(method="POST", class="insert", action="/admin/update_seance/execute")
                        div(class="category")
                            div(class="description") Wybierz film:
                            table
                                thead
                                    tr
                                        th Wybierz
                                        th Tytuł
                                        th Data
                                        th Godzina
                                tbody
                                    each seance in data
                                        tr
                                            td
                                                input(type="radio", name="ID", value=seance.SeanceID)
                                            td= seance.Title
                                            td= seance.FormattedDate
                                            td= seance.SeanceTime
                        p= "Pola, których nie chcesz modyfikować, pozostaw puste"
                        div(class="category")
                            div(class="description") Wybierz film:
                            div(class="field")
                                select(name="movie_id")
                                    option(value="")= "---"
                                    each movie in movies
                                        option(value=movie.MovieID)= movie.Title
                        div(class="category")
                            div(class="description") Podaj datę seansu:
                            div(class="field")
                                input(type="date", name="seance_date")
                        div(class="category")
                            div(class="description") Podaj godzinę seansu:
                            div(class="field")
                                input(type="time", name="seance_time")
                        input(type="submit")
            footer #{title} 2024